@{
    ViewData["Title"] = "Registrar Usuario";
}
<link rel="stylesheet" href="~/css/Registro.css" />
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-xl-9 mx-auto">
                <div class="card flex-row my-5 border-0 shadow rounded-3 overflow-hidden">
                    <div class="card-img-left d-none d-md-flex">
                    </div>
                    <div class="card-body p-4 p-sm-5">
                        <h5 class="card-title text-center mb-5 fw-light fs-5">Register</h5>
                        <form asp-controller="Login" asp-action="Registro">
                            <div class="form-floating mb-3">
                                <label>Nome de usuário</label>
                                <input type="text" class="form-control" placeholder="myusername" required autofocus>
                            </div>

                            <div class="form-floating mb-3">
                                <label>Seu email</label>
                                <input type="email" class="form-control" placeholder="lojadesapatos@exemplo.com">
                            </div>

                            <hr>

                            <div class="form-floating mb-3">
                                <label>Senha</label>
                                <input type="password" class="form-control" placeholder="Senha">
                            </div>

                            <div class="form-floating mb-3">
                                <label>Repita a senha</label>
                                <input type="password" class="form-control" placeholder="Repita a senha">
                            </div>

                            <div class="d-grid mb-2">
                                <button class="btn btn-lg btn-primary btn-login fw-bold text-uppercase" type="submit">Registrar</button>
                            </div>

                            <a class="d-block text-center mt-2 small" href="#">Tem uma conta? Entrar</a>

                            <hr class="my-4">

                            <div class="d-grid mb-2">
                                <button class="btn btn-lg btn-google btn-login fw-bold text" type="submit">
                                    <i class="fab fa-google me-2"></i> Entrar com conta Google
                                </button>
                            </div>

                            <div class="d-grid">
                                <button class="btn btn-lg btn-facebook btn-login fw-bold text" type="submit">
                                    <i class="fab fa-facebook-f me-2"></i> Entrar com conta Facebook
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>