@{
    ViewData["Title"] = "Home Page";
}
<style>
    p {
        color: white;
    }
    h1 {
        color: lightsteelblue; 
    }
</style>
<div class="text-center">
        <h1 class="display-4">Bem-vindos a Potato Shoes</h1>
        <p>Temos sapatos para todos os gostos!</p>
</div>
    
