@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<style>
    h1 {
        color: lightsteelblue;
    }
    p {
        color: white;
    }
</style>

<p>Use this page to detail your site's privacy policy.</p>
