@{
    ViewData["Title"] = "Fornecedor";
}

<header class="bg-primary text-center py-5 mb-4">
    <div class="container">
        <h1 class="fw-light text-white">Nossos fornecedores</h1>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 shadow">
                <img src="https://images.unsplash.com/photo-1588110679566-158c6dea107c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=758&q=80" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title mb-0">Adidas</h5>
                    <div class="card-text text-black-50">Esporte & StreetWear</div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 shadow">
                <img src="https://images.unsplash.com/photo-1556906781-9a412961c28c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title mb-0">Nike</h5>
                    <div class="card-text text-black-50">Esporte & StreetWear</div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 shadow">
                <img src="https://images.unsplash.com/photo-1559745206-ca4056293ddc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title mb-0">New Balance</h5>
                    <div class="card-text text-black-50">Esporte & StreetWear</div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 shadow">
                <img src="https://cd.shoppub.com.br/villione/media/cache/b8/1b/b81b74dbe6e75dc74ec12a5436dec76b.jpg" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title mb-0">Villione</h5>
                    <div class="card-text text-black-50">Sociais & Luxuosos</div>
                </div>
            </div>
        </div>
    </div>
</div>