body {
    background: #343a40;
    background: linear-gradient(to right, #343a40, #6c757d);
}

.card-img-left {
    width: 45%;
    background: scroll center url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQas4ssK0V25yiCN9zdjxt7rpTrYSmAmsuYvXpEO5mr8bZYlXvmrbcLvgf1-bi4LtQyRMY&usqp=CAU');
    background-size: cover;
}

.btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
}
