body {
    background: #343a40;
    background: linear-gradient(to right, #343a40, #6c757d);
    cursor: pointer;
}

img {
    float: left;
    width: 100px;
    height: 300px;
    object-fit: cover;
}

.link{
    text-decoration: none;
}
