@{
    ViewData["Title"] = "Vendas";
}

<!doctype html>
<style>
    body {
        color: black;
    }

</style>
<html lang="pt-br">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-xl-9 mx-auto">
                <div class="card flex-row my-5 border-0 shadow rounded-3 overflow-hidden">
                    <div class="card-img-left d-none d-md-flex">
                    </div>
                    <div class="card-body p-4 p-sm-5">
                        <form>
                            <div class=" text-center">
                                <h2>Vendas</h2>
                            </div>
                            <br />
                            <p class="fw-light">Preencha abaixo com informações do produto para efetuar compra.</p>

                            <div class="mb-3">
                                <label for="codProduto" class="form-label">Insira o código do produto:</label>
                                <input type="text" class="form-control" id="codProduto" placeholder="Código do produto" />
                            </div>
                            <div class="mb-3">
                                <label for="fornecedor" class="form-label">Insira o fornecedor do produto:</label>
                                <input type="text" class="form-control" id="fornecedor" placeholder="Nome do fornecedor" />
                            </div>
                            <div class="mb-3">
                                <label for="quantidade" class="form-label">Informe a quantidade:</label>
                                <input type="number" class="form-control" min="1" max="100"/>
                            </div>
                            <div class="mb-3">
                                <label for="preco" class="form-label">Preço:</label>
                                <input type="number" class="form-control" min="0.00" max="10000.00" step="0.01" placeholder="R$ 0,00" />
                            </div>
                            <br>

                            <button type="submit" class="btn btn-primary">Comprar</button>
                        </form>
                    </div>
                    </div>
                </div>
            </div>
         </div>

                    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
                    <script src="https://cdn.jsdelivr.net/npm/popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
                    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>

</body>

</html>
